<!-- <div *ngIf="!dataStore.isUserLoggedIn"
    style="justify-content: center; width: 95%; display: flex; color: rgb(0, 0, 6); text-decoration:underline;">
    <a routerLink="/login">Click here to login</a>
</div> -->

<nav class="navbar" *ngIf="dataStore.isUserLoggedIn">
  <div *ngIf="!logoutConfirmation" class="nav-left" (click)="this.goToDashboard()">

    <div style="width: 200px;position: relative;top: 30px;display: grid;gap: 10px;">
      <div>
        <span class="username">{{ this.userDetails?.firstname }}{{" "}} {{ this.userDetails?.lastname }}
        </span>

      </div>
      <div style="margin-top: 5px;">
        <span class="username">Contact: 9753684208</span>
      </div>
      <div style="margin-top: 5px;max-width: 200px;">
        <span class="username">Karondiya Khurd, Khargone, MP, 451220</span>
      </div>
    </div>

    <span class="investment"><img class="user-nav-profile-pic" src={{this.profilePicName}}></span>
    <!-- <span class="investment">Total Investment: {{ totalInvestment | currency:'INR'}}</span> -->
    <!-- <span class="investment">Welcome . . . </span> -->
  </div>
  <!-- Edit Starts -->
  <div  *ngIf="!logoutConfirmation" class="nav-right" style="display: flex;">
    <!-- <button (click)="goToDashboard()">Dashboard</button> -->

    <button class="edit" (click)="this.editUserDetails()"><i
        class="fas fa-edit"></i>Edit</button>
    
    <button class="edit logout" (click)="this.logoutConfirmation=true"><i
        class="fas fa-sign-out-alt"></i>Logout</button>
  </div>
  <!-- Edit Ends -->



  <!-- Logout Confirmation Starts -->
  <div *ngIf="logoutConfirmation" style="justify-content: center;display: flex;">
    <span style="width: 100%;">Do you realy want to logout?</span>
    <!-- <span >Yes</span> -->
    <button class="edit" style="padding: 0;margin-right: 5px;"
      (click)="this.islogout=true;logout()">Yes</button>
    <!-- <span >No</span> -->
    <button class="edit" style="padding: 0;" (click)="this.logoutConfirmation=false">No</button>
  </div>
  <!-- Logout Confirmation Ends -->
</nav>