.navbar {
  padding: 10px 10px;
  background: #3932bc;
  color: white;
  /* width: 100%; */
  /* position: relative; */
  z-index: 1000;
  font-size: 0.8em;
  border-radius: 5px;
  top: 60px;
}

.nav-left {
  display: flex;
  gap: 15px;
}

.nav-right {
  width: 30px;
  position: relative;
  left: 113px;
  gap: 20px;
  margin-bottom: 15px;
}

button {
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.logout {
  background: rgb(245, 244, 244);
  color: rgb(23, 1, 1);
  margin-top: 10px;
}

.edit {
  background: rgb(245, 244, 244);
  color: rgb(23, 1, 1);
  margin-top: 40px;
}

.logout:hover {
  background: darkred;
}

.user-nav-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-74px, -43px);
  border: 4px solid white;
}