<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Create Group!</h2>
        <form (ngSubmit)="onLogin()" #createGroupForm="ngForm">
            <div class="input-group">
                <label for="groupname">Group Name</label>
                <input type="text" id="groupname" [(ngModel)]="groupname" name="groupname" placeholder="Group Name" required>
            </div>
            <div class="input-group">
                <label for="village">Village</label>
                <input type="text" id="village" [(ngModel)]="village" name="village" placeholder="Village" required>
            </div>
            <div class="input-group">
                <label for="city">City</label>
                <input type="text" id="city" [(ngModel)]="city" name="city" placeholder="City">
            </div>
            <div class="input-group">
                <label for="district">District</label>
                <input type="text" id="district" [(ngModel)]="district" name="district" placeholder="District" required>
            </div>
            <div class="input-group">
                <label for="state">State</label>
                <input type="state" id="state" [(ngModel)]="state" name="state"  required>
            </div>
            <div class="input-group">
                <label for="country">Country</label>
                <input type="text" id="country"  name="confirmpassword"
                    placeholder="India" [(ngModel)]="country" disabled>
            </div>
            <div>
                
            </div>
            <button type="submit" [disabled]="!createGroupForm.valid">Create</button>
        </form>
        <!-- <div class="" style="margin-top: 10px;">
            New User? &nbsp;<a routerLink="/signup">Register!</a>
        </div> -->
    </div>
</div>