<footer class="footer">
    <div class="footer-container">
      <!-- Section 1: Logo & About -->
      <div class="footer-section">
        <!-- <h2>UnityFund </h2> -->
        <img style="width: 170px;height: 34px;" src="../../../assets/UNITY_FUND_TEXT_LOGO.jpg">
        <p>Strengthening financial bonds.</p>
      </div>
  
      <!-- Section 2: Quick Links -->
      <div class="footer-section">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
  
      <!-- Section 3: Contact & Social Media -->
      <div class="footer-section">
        <h2>Contact Us</h2>
        <p>Email: devarshi.patidar18&#64;gmail.com</p>
        <p>Phone: +91 97536 84208</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a target="_blank" href="https://www.instagram.com/devarshi_patidar_/" class="fab fa-instagram" ></a>
        </div>
      </div>
    </div>
  
    <!-- Bottom Bar -->
    <div class="footer-bottom">
      &copy; 2025 UnityFund. All Rights Reserved.
    </div>
  </footer>
  