<div class="hero">
    <h1 style="margin-bottom: 0;">Sardar Patel Yuva Sangathan Karondiya</h1>
    <div class="members-count-css">
        <i class="far fa-user"></i>
    <span>52 Members</span>
    </div>
    <div class="features">
        <div class="feature-box">Total Members <h4
            style="color: green;bottom: 0;position: relative;margin-bottom: 0;">{{ 10000 | currency:'INR' }}
        </h4>
    </div>
        <div class="feature-box"></div>
        <div class="feature-box"></div>
    </div>
</div>