<nav class="navbar" style="margin-bottom: 5px">
    <div class="nav-left">
        <span class="username">Patidar Samaj Karondiya </span>
        <span class="investment">Total Members: 55 </span>
        <!-- <span class="investment">Total Emi: 1680 </span> -->
        <span class="investment" style="color: red;">Closed </span>
    </div>
    <div class="nav-right">
        <!-- <button (click)="goToDashboard()">Dashboard</button> -->
        <button class="logout">
            <!-- <i class="fas fa-sign-out-alt"></i> -->
            <i class="fas fa-user-shield" style="color: #5fc63a;"></i>
        </button>
    </div>
    <!-- <div *ngIf="logoutConfirmation" style="justify-content: center;display: flex;">
        <span style="width: 170px;">Do you realy want to logout?</span>
    <button class="logout" style="padding: 0;width: 70px;margin-right: 5px;" ">Yes</button>
    <button class="logout" style="padding: 0;width: 70px;" (click)="this.logoutConfirmation=false">No</button>
    </div> -->
</nav>