<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">{{this.datastore.isUserLoggedIn?"Edit":"Rigester!"}}</h2>
        <form (ngSubmit)="rigesterUser()" #registerForm="ngForm">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="User Name"
                    required>
            </div>
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" [(ngModel)]="user.firstname" name="firstname" placeholder="First Name"
                    required>
            </div>
            <div class="input-group">
                <label for="phone">Last Name</label>
                <input type="text" id="lastname" [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name"
                    required>
            </div>
            <div class="input-group">
                <label for="phone">Contact Number</label>
                <input type="tel" id="phone" [(ngModel)]="user.phone" name="phone" placeholder="Contact Number"
                    required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirmpassword">confirmpassword</label>
                <input type="password" id="confirmpassword" [(ngModel)]="confirmpassword" name="confirmpassword"
                    required>
            </div>
            <div class="input-group">
                <label for="profilepic">Profile Picture</label>
                <input type="file" id="profilepic" [(ngModel)]="user.profilepic" name="profilepic"
                    accept="image/*" >
            </div>
            <button type="submit" [disabled]="!registerForm.valid">Register</button>
        </form>
        <div class="" style="margin-top: 10px;">
            Existing User? &nbsp;<a routerLink="/login">Login!</a>
        </div>
    </div>
</div>