<div class="main-container" style="font-size: 0.9em;">
    <div class="hero">



        <!-- <div> -->
            <h1 style="margin-bottom: 0;">{{this.userDetails?.firstname + " " + this.userDetails?.lastname}}</h1>
        <!-- <h6 style="margin: 0;color: greenyellow;">{{this.userDetails.role=='admin'?"Admin":""}}</h6> -->
        <!-- </div> -->
         
        <!-- <h6 style="margin:10px 0 0 0;color: white;font-size: 1.2em;">Admin Options</h6>
         <select class="dropdown-global-css" (change)="this.changeGroup($event)">
            <option value="0">Options</option>
            <option *ngFor="let op of adminoptions" [value]="op.id">{{op.name}}</option>
        </select> -->
        <div class="features">
            <div class="feature-box">Total Investment <h4
                    style="color: green;bottom: 0;position: relative;margin-bottom: 0;">{{ 10000 | currency:'INR' }}
                </h4>
            </div>
            <div class="feature-box">Total Interest <h4
                    style="color: green;bottom: 0;position: relative;margin-bottom: 0;">{{1200>0?"+":"-"}}{{ 1200 |
                    currency:'INR' }}</h4>
            </div>
            <div class="feature-box">Monthly EMI <h4
                    style="color: red;bottom: 0;position: relative;margin-bottom: 0;">{{ 10000 |
                    currency:'INR' }}
                </h4>
            </div>

            <div class="feature-box">Monthly Investment<h4
                    style="color: green;bottom: 0;position: relative;margin-bottom: 0;">{{ 10000 | currency:'INR' }}
                </h4>
            </div>

            <div class="feature-box">Total Loan<h4
                    style="color: red;bottom: 0;position: relative;margin-bottom: 0;">{{ 70000 | currency:'INR' }}
                </h4>
            </div>

        </div>
        <p>Track contributions, expenses, and reports in one place.</p>
        <!-- <button>Get Started &rarr;</button> -->
        <app-quote [todaysQuote]='this.dataStore.getTodaysQuote()' [date]="todayDate"></app-quote>
    </div>


    <div class="hero datas">
        <button (click)="openMyGroups()">My Groups<i *ngIf="!this.isMyGroupsAccordionOpen"
                style="margin-top: 10px;float: right;" class="far fa-arrow-alt-circle-down fa-lg"></i>
            <i *ngIf="this.isMyGroupsAccordionOpen" style="margin-top: 10px;float: right;"
                class="far fa-times-circle fa-lg"></i></button>

        <div *ngIf="this.isMyGroupsAccordionOpen" style="margin-top: 5px;">
            <app-group-card></app-group-card>

        </div>
    </div>

    <div class="hero datas">
        <button (click)="openMyLoans()">My Loans<i *ngIf="!this.isMyLoansAccordionOpen"
                style="margin-top: 10px;float: right;" class="far fa-arrow-alt-circle-down fa-lg"></i>
            <i *ngIf="this.isMyLoansAccordionOpen" style="margin-top: 10px;float: right;"
                class="far fa-times-circle fa-lg"></i></button>

        <div *ngIf="this.isMyLoansAccordionOpen" style="margin-top: 5px;">
            <app-group-card></app-group-card>
            <app-group-card></app-group-card>
            <app-group-card></app-group-card>
            <app-group-card></app-group-card>
            <app-group-card></app-group-card>
            <app-group-card></app-group-card>
        </div>
    </div>

    <!-- Transactions Starts -->
    <div class="hero datas">
        <button (click)="openTransactions()">My Transactions<i *ngIf="!this.isTransactionsAccordionOpen"
                style="margin-top: 10px;float: right;" class="far fa-arrow-alt-circle-down fa-lg"></i>
            <i *ngIf="this.isTransactionsAccordionOpen" style="margin-top: 10px;float: right;"
                class="far fa-times-circle fa-lg"></i></button>

        <div *ngIf="this.isTransactionsAccordionOpen" style="margin-top: 5px;">
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
        </div>
    </div>
    <!-- Transactions Ends -->

    <!-- EMI starts -->
    <div class="hero datas">
        <button (click)="openTransactions()">My EMIs<i *ngIf="!this.isTransactionsAccordionOpen"
                style="margin-top: 10px;float: right;" class="far fa-arrow-alt-circle-down fa-lg"></i>
            <i *ngIf="this.isTransactionsAccordionOpen" style="margin-top: 10px;float: right;"
                class="far fa-times-circle fa-lg"></i></button>

        <div *ngIf="this.isTransactionsAccordionOpen" style="margin-top: 5px;">
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
        </div>
    </div>
    <!-- EMI Ends -->




    <div class="cta" id="bottom">
        <h2>Request to join a Fund Group</h2>
        <button>Continue</button>
    </div>
</div>