<div class="home-container">
<div class="hero">
    <h1> Welcome</h1>
    <h2>Manage Your Group Funds Efficiently</h2>
    <p>Track contributions, expenses, and reports in one place.</p>
    <button *ngIf="!this.dataStore.isUserLoggedIn" (click)="gettingStarted()">Get Started &rarr;</button>
    <button *ngIf="this.dataStore.isUserLoggedIn" (click)="goToDashBoard()">Go To Dashboard</button>
    
    <app-quote [todaysQuote]='this.dataStore.getTodaysQuote()'></app-quote>
</div>

<div class="features">
    <div class="feature-box">Easy Fund Tracking</div>
    <div class="feature-box">Secure Transactions</div>
    <div class="feature-box">Real-time Reports</div>
</div>

<div class="cta" id="bottom">
    <h2 *ngIf="!this.dataStore.isUserLoggedIn" >Go to Login Page</h2>
    <button routerLink="/login" *ngIf="!this.dataStore.isUserLoggedIn">Login</button>
    <h2 *ngIf="this.dataStore.isUserLoggedIn">Create New Fund Group</h2>
    <button *ngIf="this.dataStore.isUserLoggedIn" (click)="goToCreateGroup()">Create</button>
    <h2 *ngIf="this.dataStore.isUserLoggedIn">Request to join a Fund Group</h2>
    <button *ngIf="this.dataStore.isUserLoggedIn" (click)="goToJoinRequestFundGroup()">Create</button>
</div>
</div>