<nav class="navbar" style="margin-bottom: 5px" routerLink="/group-details">
    <div class="nav-left">
        <span class="username">Patidar Samaj Karondiya </span>
        <span class="investment">Amount: 600 </span>
        <span class="investment">Date: 5-March-2025 </span>
        <span class="investment">Type: Invest </span>
    </div>
    <!-- <div class="nav-right">
        <button class="logout">
            <i class="fas fa-user-shield" style="color: #5fc63a;"></i>
        </button>
    </div> -->
</nav>